<!--picture-carousel-->
<picture-carousel></picture-carousel>
<!--about-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="text-center">
                    <h2>{{About.title}}</h2>
                    <img class="img-responsive displayed" src="res/images/short.png" alt="Company about" >
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                            {{About.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--latest-movie-->
<latest-movie></latest-movie>
<!--productions-->
<productions></productions>
<!--photos-->
<photos></photos>